h1 {font-weight:bold;
font-size:100%;
text-align: center;
font-family: sans-serif;}

.body {width:330px;
  padding: 15px;
  border-style: inset;
  border-color: #660000;
}

.img {width:300px;
padding:15px;
align-items:center;
boder-color: #660000;}

.p1 {font-style:italic;
font-size: 15px;
font-family: sans-serif;;}

.container {display:flex;
flex-wrap:wrap;
width:330px;
padding: 15px;
border-style: inset;
border-color: #660000;
background: linear-gradient(to top, #cc6600 0%, #cc3300 100%);}

.facts ul {list-style-type: none;
font-family: sans-serif;
font-size:15px;}

.p2 {font-family: sans-serif;
font-size: 15px}
